<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>

      {% if s_id == None %}
      <H1>States</H1>
      <UL>
	{% for state in all_states.values()|sort(attribute='name') %}
	<LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
	{% endfor %}
      </UL>

      {% elif all_states is not defined %}
      <H1>Not found!</H1>

      {% else %}
      <H1>State: {{ all_states.name }}</H1>
      <H3>Cities:</H3>
      <UL>
	{% for c_s in all_states.cities|sort(attribute='name') %}
	<LI>{{ c_s.id }}: <B>{{ c_s.name }}</B></LI>
	{% endfor %}
      </UL>
      {% endif %}
    </BODY>
</HTML>
